* {
  box-sizing: border-box;
}
img{
  width:100%
}
body{

  margin:0
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1224px;
  background-color:  #00302E;
  margin: 0 auto;
}

font-face {
  font-family:PoppinsBold;
  src: url("app/assets/fonts/poppins/Poppins_Bold.ttf");
}

@font-face {
  font-family:RobotoRegular;
  src: url("app/assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family:PoppinsRegular;
  src: url("app/assets/fonts/poppins/Poppins_Regular.ttf");
}

@font-face {
  font-family:RubikRegular;
  src: url("app/assets/fonts/rubik/Rubik-Regular.ttf");
}

font-face {
  font-family:InterRegular;
  src: url("app/assets/fonts/inter/Inter-Regular.ttf");
}

font-face {
  font-family:InterBold;
  src: url("app/assets/fonts/inter/Inter-Bold.ttf");
}
